/* Global Code */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family: 'Baskervville', serif;
    background-color: lightgrey;
}

section {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: whitesmoke;
    width: 100%;
    display: inline-block;
}

.name, .name-bottom {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

h2, h3, p {
    text-align: center;
    width: 100%;
}

/* Mobile-First Design */

.name {
    text-align: center; 
}

.top-nav {
    text-align: center;
}

.top-nav a {
    display: inline-block;
    width: 90%;
    background-color: aqua;
    margin: 2px;
}

.profile-image {
    width: 94%;
}

.introduction {
    text-align: center;
    padding: 10px;
}

.intro {
    text-align: center;
    display: inline-block;
    width: 90%;
    padding-top: 10px;
}

.item {
    text-align: center;
    width: 100%;
    max-height: 350px;
    display: inline-block;
}

.item img {
    width: 90%;
    padding-top: 18px;
}

.main-content p {
    width: 90%;
    text-align: center;
    display: inline-block;  
}

.skill {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.skill p {
    width: 90%;
    text-align: center;
    display: inline-block; 
}

footer {
    font-family: 'Libre Baskerville', serif;
    width: 100%;
}

.contact {
    width: 100%; 
    text-align: center;
}

.address {
    width: 100%; 
    text-align: center; 
    padding-bottom: 50px;
}

.name-bottom {
    width: 60%;
    margin: 0;
    display: inline-block;
    text-align: left;
    font-size: 15px; 
}

.bottom-nav {
    width: 35%;
    display: inline-block;
}

.top {
    width: 100%;
    display: inline-block;
    text-align: right;
    font-size: 15px;
}

.navitem {
    display: none;
}

/* Media Queries */

/* TABLET */
@media (min-width: 768px) {

    .name {
        text-align: center;
    }

    .top-nav a {
        display: inline-block;
        
        background-color: transparent;
        width: 10%;
    }

    .profile-image {
        float: right;
        width: 40%;
    }

    .intro {
        float: left;
        width: 55%;
    }

    .item {
        text-align: center;
        width: 49%;
        max-height: 350px;
        display: inline-block;
    }
    
    .item img {
        width: 90%;
        padding-top: 18px;
    }

    .top {
        display: none;
    }

    .navitem {
        display: inline-block;
        padding: 0 5px;
    }

    .name-bottom {
        width: 40%;
        display: inline-block; 
        text-align: left;
    }

    .bottom-nav {
        width: 40%;
        float: right;
        text-align: right;
    }

}

/* DESKTOP */
@media (min-width: 1024px) {

    .main-header {
        width: 100%
    }

    h1, .name-top {
        text-align: left;
        width: 40%; 
        display: inline-block;
    }

    .top-nav {
        text-align: right;
        font-size: 20px;
        width: 59%;
        margin: 0;
        display: inline-block;
    }

    .top-nav a {
        padding: 0 20px;
    }

    .intro {
        width: 50%;
        padding-left: 30px;
        padding-top: 40px;
    }

    .item {
        text-align: center;
        width: 33%;
        display: inline-block;
    }

    .name-bottom {
       width: 40%;
       display: inline-block; 
       text-align: left;
    }

    .bottom-nav {
        width: 50%;
        float: right;
        text-align: right;
    }

    .top {
        display: none;
    }    
}